// Colors

$textLight: #eeeeee;
$textDark: #111111;
$textDisabled: #797c80;

//Fonts

$primaryFont: "Mukta", sans-serif;
$secondaryFont: "Playfair Display", serif;
$headerBold: "Raleway", sans-serif;

//Gradient
$firstColor: #8553be;
$secondColor: #d625cc;

//Background
$navBgDark: #3e3e54;
$pinkLight: #fef0ff;
$blueLight: #4fa4d6;

//Icons
$facebook: #1877f2;
$linkedin: #0a66c2;
$twitter: #1da1f2;
