@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
  overflow-x: hidden;
}

a {
  color: $textLight;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  max-width: 1170px;
}
.quote {
  background: linear-gradient(120deg, $secondColor 50%, $firstColor);
  font-family: $secondaryFont;
}
