@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
}

a {
  color: $textLight;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
