@import "./variables";
.header {
  margin-top: 10vh;
  width: 100vw;
  height: 90vh;
  // background: url("../public/header/bg.webp");
  // background-position: center center;
  // background-size: cover;
  background-color: $navBgDark;
}
.wrapper {
  height: 80vh;
  width: 100%;
}
.intro {
  width: 100%;
  height: 60%;
}
.h2 {
  font-family: $secondaryFont;
  color: $textLight;
}
.h4 {
  color: $textLight;
  font-weight: bold;
}
.gradient {
  font-family: $headerBold;
  font-weight: 900;
  background-color: red;
  background-image: linear-gradient(
    to right,
    $firstColor,
    $secondColor,
    $firstColor
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.h3 {
  color: $textDisabled;
  // font-weight: bold;
}
.button {
  font-size: 1.25rem;
  color: $textLight;
  width: 250px;
  height: 70px;
  background: linear-gradient(to right, $firstColor, $secondColor);
  border-radius: 50px;
  border: none;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.12);
  }
}
