@import "./variables";
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: $navBgDark;
  z-index: 1000;
}
.wrapper {
  width: 100%;
  max-width: 1170px;
  height: 10vh;
}
.phone {
  color: $textLight;
  font-family: $secondaryFont;
}
