@import "./variables";
.program {
  width: 100vw;
  background: url("../public/program/bg.webp");
  background-position: center center;
  background-size: cover;
}
.column {
  border-bottom: 2px solid $secondColor;
}
.title {
  color: $textLight;
}
.content {
  color: $textLight;
}
