@import "./variables";

.speakers {
  background-color: $pinkLight;
}

.card {
  width: 200px;
  background-color: transparent;
  perspective: 1000px;
  transition: 0.3s ease-in-out;
  &:hover {
  }
  &:hover .overlay {
    transform: scale(1);
    box-shadow: 10px 10px 10px $navBgDark;
    opacity: 1;
  }
}
.wrapper {
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.photo {
  border-radius: 20px;
  position: relative;
}
.image {
  width: 200px;
  height: 200px;
}
.overlay {
  margin: 0 auto;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  border-radius: 20px;
  background-color: $firstColor;
  transition: 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  backface-visibility: hidden;
}
.icons {
  width: 100%;
}
.icon {
  font-size: 2rem;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.4);
    color: $secondColor;
  }
}
